<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
<h1>Welcome to the Admin Page!</h1>

<div>
    <form th:action="@{/create}">
        <input type="submit" th:value="Create"/></form>

    <table th:border="2" align="left" cellpadding="5">
        <tr>
            <th>Username</th>
            <th>Age</th>
            <th>actions</th>

        </tr>
        <tr th:each="user : ${usersList}">
            <td th:text="${user.getUsername()}">...</td>
            <td th:text="${user.getAge()}">...</td>
            <td>

                <a th:href="@{/edit(id=${user.getId()})}"><input type="submit" th:value="edit"/></a>
                <br>
                <br>
                <form th:method="post" th:action="@{/admin(id=${user.id})}">
                    <input type="submit" th:value="delete"/>
                </form>
            </td>
        </tr>
    </table>
</div>
<form th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>

<!--<ul>
    <li th:each="user : ${usersList}">
        <span th:text="${user.username}"></span>
        <a th:href="@{'/edit?id=' + ${user.id}}">Edit</a>
        <form th:action="@{'/users'}" method="post">
            <input type="hidden" name="id" th:value="${user.id}" />
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>-->
</body>
</html>