<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>User</title>
</head>
<body>
<h1>Welcome to your site! </h1>
<table th:border="1" th:cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr th:each="user : ${user}">
        <td th:utext="${user.username}">username</td>
        <td th:utext="${user.age}">age</td>
    </tr>
</table>
<br>
<form th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>